*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	
	background-color: #03fc84;
}

.card {
	margin-top: 50px;
	width: 350px;
	height: 120px;
	background-color: #fff;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 50px rgba(10,0,0,0.4);
	position: absolute;
	transition: height .25s ease-in-out;
}

.card.active {
	height: 380px;
}

.content {
	display: flex;

}
.card .content .header{
	margin-left: 20px;
}
.card .content .header h3{
	font-weight: 400;
	font-size: 1.6em;
}
.card .content .header h4{
	color: grey;
	font-size: 0.9em;
}

.card .content .imgBx img{
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}

.navigation {
	border-top: 1px solid rgba(0,0,0,0.4);
	margin-top: 20px;
	position: relative;

}

.navigation li {

	list-style: none;
	margin-top: 10px!important;
	
}
.navigation li:first-child {

	margin-top: 20px!important;
}

.navigation li a{
	text-decoration: none;
	color: rgba(0,0,0,0.6);
	font-size: 1.3em;
	transition: 0.25s;

}

.navigation li a:hover{
	color: #03c2fc;
}

.toggle{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	background-color:#038cfc;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	z-index: 100;
	cursor: pointer;
}

.toggle ion-icon{
	transition: transform 0.25s ease-in-out;
}

.toggle.active ion-icon{
	transform: rotate(180deg);
}
